<h1>Track Food</h1>
<article>
    <label>Description</label>
    <input name="description" />
    <label>How health was your choice?</label>
    <select name="health-rating">
        <option>Healthy</option>
        <option>Questionable</option>
        <option>Unhealthy</option>
    </select>
    <label>Portion Size</label>
    <select name="portion-size">
        <option>Large</option>
        <option>Medium</option>
        <option>Small</option>
    </select>
    <button type="button">Submit</button>
</article>