@model GutCheck.Web.Models.BaseViewModel
<!doctype html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="~/lib/pico/pico.styles.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Test Error App - @Model.Subtitle</title>
</head>
<body>
    <main class="container">
        <nav>
            <ul>
                <li><strong>Test App Index</strong></li>
            </ul>
            <ul>
                <li><a asp-controller="Tracking" asp-action="Food">Food</a></li>
                <li><a asp-controller="Tracking" asp-action="Weight">Weight</a></li>
                <li><a asp-controller="Tracking" asp-action="Progress">Progress</a></li>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                <li><a asp-controller="Auth" asp-action="Login">Login</a></li>
                <li><a asp-controller="Auth" asp-action="Register">Register</a></li>
            </ul>
            <ul class="icons">
                <li>
                    <span id="color-theme-toggle" class="pointer-on-hover">☀️</span>
                </li>
            </ul>
        </nav>
        @RenderBody()
    </main>
</body>
@RenderSection("Scripts", required: false)
<script asp-append-version="true" src="~/js/site.js"></script>
</html>