@model GutCheck.Web.Models.BaseViewModel
<!doctype html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="~/lib/pico/pico.styles.css" />
    <link rel="stylesheet" href="~/lib/pico/pico.colors.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Gut Check - @Model.Subtitle</title>
</head>
<body>
    <main class="container">
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">GutCheck</a></li>
            </ul>
            <ul>
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Tracking" asp-action="Food">Food</a></li>
                    <li><a asp-controller="Tracking" asp-action="Weight">Weight</a></li>
                    <li><a asp-controller="Tracking" asp-action="Progress">Progress</a></li>
                }
                <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                @if (User.Identity == null || !User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Auth" asp-action="Register">Register</a></li>
                }
            </ul>
            <ul class="icons">
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <li>
                        <span>Welcome @User.Identity.Name</span>
                    </li>
                    <li>
                        <a asp-controller="Auth" asp-action="Logout">Logout</a>
                    </li>
                }
                else {
                    <li><a asp-controller="Auth" asp-action="Login">Login</a></li>
                }
                <li>
                    <span id="color-theme-toggle" class="pointer-on-hover">☀️</span>
                </li>
            </ul>
        </nav>
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
    <script asp-append-version="true" src="~/js/site.js"></script>
</body>
</html>