@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error 😳</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Next Steps</h3>
<p>This error has been logged and will be investigated.</p>
<p>In the meantime, you can try the following:</p>
<p>
    <ul>
        <li>
            🔄 Refresh the page. Sometimes this helps!
        </li>
        <li>
            🕐 Try again in 30 minutes
        </li>
        <li>
            📧 Send us an email at <a href="mailto:emailaddress@gmail.com">emailaddress@gmail.com</a> and tell us what happened.
        </li>
    </ul>
</p>